section .main-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 25px;
}
.main-info h1 {
  padding: 10px;
  letter-spacing: 3px;
}
#about {
  height: 100vh;
  padding-top: 80px;
}
.images{
  width: 350px ;
  height: 220px ;
  border-radius: 20px;

}

.information {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: flex-start;
  margin: 10px 30px;
  gap: 10rem;
}
.information .get-know {
  width: 90%;
  padding: 10px;
}
#btn-project{
    letter-spacing: 1.5px;
    color: white;
    padding: 5% 26%
}
.btn-send {
  width: 200px;
  margin-top: 10px;
  font-weight: bold;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  /* background-color: #12a14b; */
  background-color: #7843e9;
  border: 2px solid #7843e9;
}
.btn-send:hover {
  filter: brightness(80%);
}

.fullContainer {
  display: flex;
  flex-wrap: wrap;
}

.skillContainer span {
  background: rgba(153, 153, 153, 0.2);
  padding: 5px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
  color: rgb(77, 77, 77);
  border: none;
}
.skillContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 10px 0;
}

.a-send{
  text-align: center;
  display: block;
  width: 200px;
  position: relative;
  margin-top: 10px;
  font-weight: bold;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  background-color: #7843e9;
  border: 2px solid #7843e9;

}
.view-eye{
  margin-left: 5px;
  color: white;
  margin-bottom: 3px;

}
.main-info h1 {
  font-weight: 700;
  text-transform: uppercase;
}

.h1_border {
  top: calc(100% + 1.5rem);
  height: 5px;
  width: 3rem;
  background: #7843e9;
  left: 50%;
  transform: translateX(-6%);
  border-radius: 5px;
}
.self-descripcion {
  text-align: center;
  margin-bottom: 40px;
}
#skills {
  padding: 10px;
}
.front-back h6 {
  padding: 10px 0;
  border-radius: 10px;
  border-bottom: 5px solid #7843e9;
}

.tools span{
  text-transform: uppercase;
}