header{  
    padding: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 3px gray;
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    margin-bottom: 10px;
    overflow: visible;
    position: fixed;

}
#name{
    text-align: center;
    font-weight: 700;
    font-size: x-large;
}
header span{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
header span a{
    margin: 0 10px;
    font-weight: 700;
    text-decoration: none;
}
header span a:hover{
    border-bottom: 3px solid black;
 }
#first-info{
    align-items: center;
    display: flex;
    justify-content: space-between;
 }
