header{  
    padding: 5px;
    background-color: #fff;
    box-shadow: 2px 5px 20px gray;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header span{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
header span a{
    margin: 0 10px;
    text-decoration: none;
}
header span a:hover{
    border-bottom: 3px solid black;
 }